h1{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: forestgreen;
    padding: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.elements {
display: flex;
justify-content: center;
margin: 30px;
padding: 10px;
gap: 20px;


}
P{
    font-weight: 200px;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-color: lawngreen;
}
